.HomePane {
  padding: 0 10px;
}
.HomePane-progress {
  padding: 5px 0 15px;
}
.HomePane-progressPercent {
  color: #4db546;
  display: block;
  font-size: 48px;
  margin: 0;
  text-align: right;
}
.HomePane-progress .MuiLinearProgress-root {
  margin-top: -4px;
}
.HomePane-progressAbsolute {
  color: #4db546;
  display: block;
  font-size: 12px;
  margin: 4px 0 0;
  text-align: right;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .HomePane-progress {
    margin-bottom: 20px;
    padding: 0;
  }
}
