.Progress {
  padding: 5px 10px 15px;
}
.Progress-percent {
  color: #4db546;
  display: block;
  font-size: 48px;
  font-weight: 300;
  margin: 0;
  text-align: right;
}
.Progress .MuiLinearProgress-root {
  margin-top: -4px;
}
.Progress-absolute {
  color: #4db546;
  display: block;
  font-size: 12px;
  font-weight: 500;
  margin: 4px 0 0;
  text-align: right;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .Progress {
    margin-bottom: 20px;
    padding: 10px 10px 5px;
  }
}
