.Trip-details {
  padding: 15px 20px 20px;
}
.Trip-date {
  font-size: 28px;
  font-weight: 400;
  margin: 0;
}
.Trip-description {
  font-size: 16px;
  font-weight: 500;
  margin: 2px 0 0;
}
.Trip-stat {
  font-size: 14px;
  margin-top: 2px;
}
.Trip-statStationsNew {
  color: #4db546;
}
.Trip-photos {
  display: flex;
  flex-flow: row wrap;
  padding: 0 20px 20px;
}
.Trip-photo {
  background-color: #ddd;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin: 10px 10px 0 0;
  padding-top: 25%;
  position: relative;
  width: 25%;
}
.Trip-photo:focus {
  outline: none;
}
.Trip-photo:focus::after {
  border: 2px solid #1967d2;
  border-radius: 4px;
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

@media (min-width: 768px) {
  .Trip {
    padding: 15px 20px 20px;
  }
  .Trip-details {
    padding: 0;
  }
  .Trip-photos {
    justify-content: space-between;
    margin-top: 10px;
    padding: 0;
  }
  .Trip-photo {
    margin-right: 0;
    padding-top: 48%;
    width: 48%;
  }
}
