.Trip {
  padding: 15px 20px 20px;
}
.Trip-date {
  font-size: 28px;
  font-weight: 400;
  margin: 0;
}
.Trip-description {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}
.Trip-stations {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}
